fastapi
uvicorn[standard]
pydantic[email]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
motor
beanie
pymongo
argon2-cffi
aiosmtplib
email-validator
# Add other dependencies as needed
